@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
  background-color: #f7f7f9;
  font-family: "Poppins", sans-serif;
}

/* landing page */
.landing {
  background-image: url('/images/header-bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  min-height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 120px;
}

.landing div {
  width: 80%;
}

.social {
  text-decoration: none;
}

/* works section */
#works {
  margin: 150px 0;
}

.work {
  margin-bottom: 100px;
}

/* about myself section  */
#aboutme {
  border-top-right-radius: 120px;
}

#resume li {
  background-color: #f7f7f9;
}